a:hover{
    background-color: orange;
}
div:hover{
    background-color: peru;
}
ul li:hover{
    background-color: lime;
}
div span:hover {
    background-color: plum;
}
button:hover + ul {
    display: none;
}
p::selection{
    background-color: lime;
}
p:hover::selection{
    background-color: rebeccapurple;
}
.url::after{
    content: '  (' attr(href) ')'
}
.url:hover::after{
    display: none;
}