.link1:active{
    background-color: yellow;
}

.link2:link{
    color: tomato;
}
/* daha önce girmediğin linklerin rengini değiştirir -link-
*/

.link2:visited{
    color: gray;
}
/* ziyaret edilen sayfanın rengini değiştirir.
*/

nav.link3 a:any-link{
    background-color: lime;
}