body {
    height: 4000px;
}
.test{
    position: absolute;
    bottom: 20px;
    right: 20px; 
}

.container{
    width: 500px;
    height: 500px;
    background-color:#ccc;
}
.container div{
    width: 100px;
    height: 100px;
}
.container div:nth-child(1){
    background-color: salmon;
    position: relative;
    z-index: 1;
}
.container div:nth-child(2){
    background-color: seagreen;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 3;
}
.container div:nth-child(3){
    background-color: slateblue;
    position: relative;
    z-index: 2;
}

a.up{
    position: fixed;
    bottom: 40px;
    right: 40px;

}