div{
    background: yellow;
}

.box::after {
    content: 'sonraki yazı';
    color: red;
    background-color: blue;
}

.box::before {
    content:'önceki yazı';
    color: white;
    background: green;
}
/* after ögesi ile sonradan  div içerisinde ikinci bir öge oluşturduk.
*/ 