button:focus {
    background-color: lime;
    color: white;
}
input:focus {
    border-color: red;
    color: red;
}
a:focus{
    background-color: yellow;
}
div:focus{
    background-color: yellow;
}
li:focus{
    background-color: teal;
}
ul:focus-within{
    background-color: yellow;
}