.test{
    /*
    color: rgb(180, 93, 171);
    */
    /*
    color: rgba(103, 134, 17, .43);
    */
    /*
    color: hsl(202, 69%, 52%);
    */
    /*
    color: hsl(202, 69%, 52%, 43%);
    */
    color: #cb65fa;
}