.bg1{
    height: 400px;
    background-image: url(https://img-s1.onedio.com/id-64345c98b763d5d1262f4bdb/rev-0/w-560/f-jpg/s-a2c22832945f5ebf00d9cba40e4a18291c3c05f8.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}